body{
    background: linear-gradient(90deg,  #86cfda, #0f6674);
}

.bod {
    /*padding-top: 5%;*/
    padding-left: 22.5%;
    /*background: linear-gradient(90deg,  #86cfda, #0f6674);*/
    border-radius: 2rem;
    margin-top:5%;
    /*margin-bottom: 8%;*/
    margin-left: 20%;
    margin-right: 20%;

    background-color: #ffffff;
    /*padding: 1rem 1rem 1rem 1rem;*/
    box-shadow:  30px 30px 57px #414147, -5px -5px 17px #424245;

}

/*.bod{*/
/*    margin-left: 300px;*/
/*}*/

[data-role="dynamic-fields"] > .form-inline + .form-inline {
    margin-top: 0.5em;
}

[data-role="dynamic-fields"] > .form-inline [data-role="add"] {
    display: none;
}

[data-role="dynamic-fields"] > .form-inline:last-child [data-role="add"] {
    display: inline-block;
}

[data-role="dynamic-fields"] > .form-inline:last-child [data-role="remove"] {
    display: none;
}

.but{
    margin-top: 5%;
    margin-bottom: 5%;
}